{% load static %}
<!-- Main Footer -->
<div class="container-fluid">
    <footer class="main-footer">
      <!-- To the right -->
      <div class="float-right">
        <div class="container-fluid">
          <img src="{% static 'images/Enigma Analytics Lab Logo-2.png' %}"
          alt="enigma"
          width="250"
          height="50"
          >
        </div>

      </div>
      
      <!-- Default to the left -->
      <strong>Smart Interactor  &copy; 2022.</strong> All rights reserved.
    </footer>


    <div class="container-fluid">
      <div class="copyright text-left">
        <span>  
          <div style="color: black;">
            <h> &copy; </h>
          </div>
        </span> 
      </div>
    </div>

    <div class="container-fluid">

      </div>
    </div>
</div>