{%  extends 'user/in_app/base.html' %}
{% load static %}

{% block stylesheet %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
{% endblock %}

{% block page_title %}
    <h1 class="h3 mb-0 text-gray-800">Delete user</h1>
{% endblock %}

{% block content %}
    

    <!-- Begin Page Content -->
    <div class="card card-primary card-outline">
    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">This table represents the data collected over the mobile application phone.</p> -->

        
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Are you sure</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                This action cannot be undone

                <form method="POST" >
                    {% csrf_token %}
                    <a href="{% url 'user:users' %}" class="d-none d-sm-inline-block btn btn-primary shadow-sm">
                        <i class="fas fa-user-plus fa-sm text-white-50"></i> cancel
                    </a>
                    <button type="submit" class="d-none d-sm-inline-block btn btn-danger shadow-sm">
                        <i class="fas fa-user-plus fa-sm text-white-50"></i> Delete user
                    </button>
                  </form>
            </div>
        

    </div>
    <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    

{% endblock %}

{% block script %}
 <!-- Page level plugins -->
 <script src="{% static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
 <script src="{%static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

 <!-- Page level custom scripts -->
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 <script>
    //  TODO https://axios-http.com/docs/example
    // Optionally the request above could also be done as
    axios.get('/user/api/users/', {
        params: {
        ID: 12345
        }
    })
    .then(function (response) {
        // console.log(response);
        // console.log(response.data);

        // https://axios-http.com/docs/res_schema
        const array = response.data
        for (let index = 0; index < array.length; index++) {
            // const element = array[index];
            const user = array[index];
            // https://api.jquery.com/append/
            $('table#dataTable tbody').first().append(
                `<tr>
                    <td>${user.first_name}</td>
                    <td>${user.last_name}</td>
                    <td>${user.email}</td>
                </tr>`
            )
        }

        $(document).ready(function() {
            $('#dataTable').DataTable();
        });
    })
    .catch(function (error) {
        console.log(error);
    })
    .then(function () {
        // always executed
    }); 
 </script>
{% endblock %}