{%  extends 'user/in_app/base.html' %}
{% load static %}

{% block stylesheet %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
{% endblock %}

{% block page_title %}
    {% if user %}
        <h1 class="h3 mb-0 text-gray-800">Update user</h1>
    {% else %}
        <h1 class="h3 mb-0 text-gray-800">Create user</h1>
    {% endif %}
{% endblock %}

{% if user %}
    {% block create %}
        <a href="{% url 'user:users_delete' user.id %}" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-user-plus fa-sm text-white-50"></i> Delete user</a>
    {% endblock %}
{% endif %}

{% block content %}
    

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">This table represents the data collected over the mobile application phone.</p>

        <form method="POST" action="{% url 'user:users_form' user.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">First name</label>
                <input type="text" name="first_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter first name" value="{{user.first_name}}" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Last name</label>
                <input type="text" name="last_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter last name" value="{{user.last_name}}" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="{{user.email}}" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    

{% endblock %}

{% block script %}
 <!-- Page level plugins -->
 <script src="{% static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
 <script src="{%static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

 <!-- Page level custom scripts -->
{% endblock %}